* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-light;

  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @media (min-width: $lg) {
    font-size: 3.75rem;
  }

  @media (max-width: $lg - 0.2) and (min-width: $md) {
    font-size: 2.5rem;
  }

  @media (max-width: $md - 0.2) {
    font-size: 1.875rem;
  }
}

a {
  text-decoration: none;

  color: $color-light;
}

.btn,
.btn-accent {
  display: block;

  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;

  font-size: 1.125rem;
}

.btn {
  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);

  @media (min-width: $lg) {
    min-width: 250px;
  }

  @media (max-width: $lg - 0.2) and (min-width: $md) {
    min-width: 200px;
  }

  @media (max-width: $md - 0.2) {
    min-width: 170px;
  }
}

.btn-accent {
  min-width: 350px;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);
}

.btn:hover,
.btn-accent:hover {
  background-color: $color-accent;
}
